<head>
  <style>
    .ukuran {
      font-size: 1.2rem
    }

    .jarak {
      margin-left: 8%;
    }

    .size {
      font-size: 1rem
    }
  </style>
</head>
        <section class="section">
          <div class="section-header">
            <h1>Selamat datang, <%= profil[0].nama %> !</h1>
          </div>

          <div class="section-body">
            <div class="card" style="width: 50%">
              <div class="card-header">
                <h4>OVERVIEW</h4>
              </div>
              <div class="card-body">

                <i class="far fa-newspaper ukuran"></i>
                <b class="ukuran">Data Bacaan :</b>
                </i><br>

                <i class="fas fa-check jarak size">
                  &nbsp;<b>Berita : <%= berita.length %></b>
                </i><br>

                <i class="fas fa-check jarak size">
                  &nbsp;<b>Artikel :  <%= artikel.length %></b>
                </i><br>

                <i class="fas fa-medal ukuran" style="margin-top: 5%"></i>
                <b class="ukuran">Data Lomba :</b>
                </i><br>
                <i class="fas fa-check jarak size"> 
                  &nbsp;<b>Tag Lomba : <%= tag_lomba.length %></b>
                </i><br>

                <i class="fas fa-check jarak size">
                  &nbsp;<b>Jenis Lomba : <%= jenis_lomba.length %> </b>
                </i><br>

                <i class="fas fa-check jarak size">
                  &nbsp;<b>Bidang Lomba : <%= bidang_lomba.length %></b>
                </i><br>

                <i class="fas fa-check jarak size">
                  &nbsp;<b>Kategori Lomba : <%= kategori_lomba.length %></b>
                </i><br>

                <i class="fas fa-check jarak size">
                  &nbsp;<b>Kategori Konten : <%= kategori_konten.length %></b>
                </i><br>
              </div>
            </div>
          </div>
        </section>
