<section class="section">
    <div class="section-header">
        <h1>Edit Bidang Lomba</h1>
    </div>

    <div class="section-body">
        <form action="/editBidang/<%= bidang[0].id %> " method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-12 col-md-7 col-lg-8">

                    <input type="hidden" class="form-control" name="idJenis" value="<%= idJenis %>">

                    <input type="text" class="form-control" name="nama" placeholder="Nama Bidang Lomba"
                        value="<%= bidang[0].nama_bidang %> " required><br>

                    <input type="text" class="form-control" name="hadiah" placeholder="Hadiah"
                        value="<%= bidang[0].hadiah %> " required><br>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Rp
                                </span>
                            </div>
                            <input type="text" class="form-control" name="biaya" placeholder="Biaya"
                                value="<%= bidang[0].biaya %> " required>
                        </div>
                    </div>

                    <textarea class=" form-control" name="desk" id="edesk" placeholder="Deskripsi.."
                        style="height: 300px" required><%= bidang[0].desk %> </textarea>
                </div>

                <div class="col-12 col-md-5 col-lg-4">
                    <button type="submit" class="col-12 btn btn-primary btn-shadow" name="submit" value="edit"
                        id="haha">Simpan</button><br><br>

                    <div class="card">
                        <div class="card-body">

                            <div class="form-group">
                                <div class="section-title mt-0">Gambar Bidang Lomba</div>
                                <input type="file" name="gambar">
                            </div>

                            <div class="form-group">
                                <div class="section-title mt-0" id="eberkas">File Refrensi</div>
                                <input type="file" name="berkas">
                            </div>

                            <div class="section-title mt-0">Link Group</div>
                            <div class="form-group">
                                <textarea class="form-control" id="elink" name="link" placeholder="Link Grup (bila ada)"
                                    style="height: 100px"><%= bidang[0].link %> </textarea>
                            </div>
                        </div>
                    </div>
        </form>
    </div>
</section>