<section class="section">
    <div class="section-header">
        <h1>Edit mahasiswa</h1>
    </div>

    <div class="section-body">
        <form method="post" action="./mahasiswaEdit">
            <div class="row">
                <div class="col-12 col-md-7 col-lg-8">
                    <input type="hidden" class="d-none" name="id_mahasiswa" value="<%= mahasiswa[0].id %>">
                    <input type="text" class="form-control" name="judul" value="<%= mahasiswa[0].judul %>"
                        placeholder="Judul Berita..."><br>
                    <textarea class="form-control" name="isi" placeholder="Isi mahasiswa..."
                        style="height: 400px"><%= mahasiswa[0].isi %></textarea>
                </div>
                <div class="col-12 col-md-5 col-lg-4">
                    <button type="submit" class="col-12 btn btn-primary btn-shadow" name="submit"
                        value="edit">UPDATE</button><br><br>
                    <div class="card">
                        <div class="card-body">
                            <div class="section-title mt-0">Deskripsi singkat</div>
                            <div class="form-group">
                                <textarea class="form-control" name="deskripsi" placeholder="Deskripsi singkat..."
                                    style="height: 100px"><%= mahasiswa[0].deskripsi %></textarea>
                            </div>
                            <div class="section-title mt-0">Berita</div>
                            <div class="form-group">
                                <select class="form-control" name="id_berita">
                                    <% 
                              berita.forEach((data)=> { 
                            %>
                                    <option class="eKategori" value="<%= data.id %>"
                                        <% if(data.id==mahasiswa[0].id_berita){ %>selected<% } %>><%= data.berita %>
                                    </option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>