<!DOCTYPE html>
<html lang="en">

<%- include ('include/head.ejs') %>

<body>
  <div id="app">
    <div class="main-wrapper">
      <%- include ('include/navbar.ejs') %>
      <%- include ('include/sidebar.ejs') %>

      <!-- Main Content -->
      <div class="main-content">
        <%- 
          include ("page/"+page+".ejs") 
        %>
      </div>
      <%- include ('include/footer.ejs') %>
    </div>
  </div>

<%- include ('include/script.ejs') %>
</body>
</html>
